<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <script>
    // Check for saved theme preference
    const savedTheme = localStorage.getItem('viewMode');
    if (savedTheme === 'research') {
      document.documentElement.classList.add('research-theme');
    }
  </script>
</head>
<body style="min-height:100vh;display:flex;flex-direction:column;">
  <div class="container" style="flex:1 0 auto;display:flex;flex-direction:column;min-height:0;">
    
    {% include components/navigation/nav-main.html %}

    <main class="content content-{{ page.id | default: page.title | replace: ' ', '-' | slice: 0, 5 }}" style="display: block;flex:1 0 auto;">
      {{ content }}
    </main>

    {% include components/footer.html %}
  </div>
</body>
</html>