<div class="profile-container desktop-profile">
    <div class="profile-content">
        <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Emran Poh" class="profile-image">
        <div class="profile-info">
            <div class="profile-text">
                <div class="profile-name">emran poh</div>
                <div class="profile-title">smu hai+hci phd student</div>
                <div class="profile-email">emranpoh [at] smu.edu.sg</div>
            </div>
        </div>
    </div>
    <div class="desktop-buttons">
        <div class="desktop-icons-grid">
            <a href="https://scholar.google.com/citations?user=wYcrORkAAAAJ&hl=en" target="_blank" title="Google Scholar">
                <img src="{{ '/assets/icons/scholar.svg' | relative_url }}" alt="Google Scholar">
            </a>
            <a href="https://github.com/emranpoh" target="_blank" title="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/emranpoh/" target="_blank" title="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="mailto:emranpoh@gmail.com" title="Email">
                <i class="fas fa-envelope"></i>
            </a>
        </div>
    </div>
</div> 