<section class="w-full">
  <div class="h-64 mb-4 introduction">
    <div class="mobile-buttons" style="display: flex; gap: 0.75rem; margin-bottom: 1rem;">
        <button onclick="document.getElementById('publications').scrollIntoView({behavior: 'smooth'})" style="flex: 1; background: none; border: none; color: #666; font-size: 1rem; cursor: pointer; padding: 0.5rem; display: flex; align-items: center; gap: 0.5rem; justify-content: center; background-color: #f1f3f5; border-radius: 1rem;">
            <span>publications</span>
        </button>
        <button onclick="document.getElementById('projects').scrollIntoView({behavior: 'smooth'})" style="flex: 1; background: none; border: none; color: #666; font-size: 1rem; cursor: pointer; padding: 0.5rem; display: flex; align-items: center; gap: 0.5rem; justify-content: center; background-color: #f1f3f5; border-radius: 1rem;">
            <span>projects</span>
        </button>
        <a href="https://www.linkedin.com/in/emranpoh/" target="_blank" style="flex: 1; background: none; border: none; color: #666; font-size: 1rem; cursor: pointer; padding: 0.5rem; display: flex; align-items: center; gap: 0.5rem; justify-content: center; background-color: #f1f3f5; border-radius: 1rem; text-decoration: none;">
            <i class="fab fa-linkedin"></i>
            <span>linkedin</span>
        </a>
    </div>
    <p class="hello-text">
        <span style="font-weight: 400; color: #666;">[current + next]</span> i am a research engineer at <a href="https://smuhci.com/">SMU-HCI</a> + incoming phd student at smu hai-lab (sup. <a href="https://jchrisli.github.io/">Li Jiannan</a>)
    </p>
    <p class="hello-text">
        <span style="font-weight: 400; color: #666;">[research]</span> interested in <mark>how hci, ai, and creativity interact</mark>. i <mark>design computational tools</mark> that help novices develop domain expertise, particularly in creative domains.
    </p>
    <p class="hello-text">
        <span style="font-weight: 400; color: #666;">[past]</span> master in computing at <a href="https://synteraction.org/">synteraction lab (prev: nus-hci lab) <sup style="color: #dc2626; position: relative;">†</sup></a> (sup. <a href="https://shengdongzhao.com/">Zhao Shengdong</a>, <a href="https://hcitang.github.io/">Tony Tang</a>), research engineer at <a href="https://www.immersification.org/">Center for Immersification<sup style="color: #2563eb; position: relative;">‡</sup></a> (sup. <a href="https://www.singaporetech.edu.sg/directory/faculty/kyrin-liong-yushan">Kyrin Liong</a>), bsc computer science (1st class) at <a href="https://www.gla.ac.uk/schools/computing/">uni. of glasgow</a> (sup. <a href="https://www.singaporetech.edu.sg/directory/faculty/jeannie-lee">Jeannie Lee</a>)
    </p>
    <p class="hello-text">
        <span style="font-weight: 400; color: #666;">[others]</span> enjoy building and occasionally crashing interplanetary rockets in Kerbal Space Program 🚀
    </p>
  </div>
</section> 