<div class="mobile-projects">
    <h2 style="font-size: 1.5rem; margin-bottom: 1rem; font-weight: bold;">Projects</h2>
    <ul style="list-style: none; padding-left: 0; display: flex; flex-wrap: wrap; gap: 1rem; margin: 0;">
        {% assign sorted_projects = site.data.projects | sort: 'year' | reverse %}
        {% for project in sorted_projects %}
        <li style="flex: 1; background-color: #f3f4f6; border-radius: 0.5rem; padding: .5rem; text-align: center; margin: 0;">
            <a href="{{ '/projects/' | append: project.title | slugify | relative_url }}" style="text-decoration: none;">
                <span style="font-size: 2rem;">{{ project.emoji | default: "📁" }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div> 