<div class="profile-container mobile-profile">
    <div class="profile-content">
        <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Emran Poh" class="profile-image">
        <div class="profile-info">
            <div class="profile-text">
                <div class="profile-name">emran poh</div>
                <div class="profile-title">hai+hci PhD student</div>
                <div class="profile-email">emranpoh [at] smu.edu.sg</div>
            </div>
            <div class="header-icons mobile-only">
                <a href="https://scholar.google.com/citations?user=wYcrORkAAAAJ&hl=en" target="_blank" title="Google Scholar"><img src="{{ '/assets/icons/scholar.svg' | relative_url }}" alt="Google Scholar" style="width: 1.1rem; height: 1.1rem;"></a>
                <a href="https://github.com/emranpoh" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                <a href="mailto:emranpoh@gmail.com" title="Email"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div> 