<div class="nav-buttons" style="margin-left: 0; justify-content: flex-start; display: flex; gap: 1rem;">
    <span class="social-links" style="display: flex; gap: 1rem;">
        <a href="https://scholar.google.com/citations?user=wYcrORkAAAAJ&hl=en" target="_blank" title="Google Scholar" class="icon-link">
            <img src="{{ '/assets/icons/scholar.svg' | relative_url }}" alt="Google Scholar">
        </a>
        <a href="https://github.com/emranpoh" target="_blank" title="GitHub" class="icon-link">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/emranpoh/" target="_blank" title="LinkedIn" class="icon-link">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="mailto:emranpoh@gmail.com" title="Email" class="icon-link">
            <i class="fas fa-envelope"></i>
        </a>
    </span>
    <span class="page-links" style="display: flex; gap: 1rem;">
        <a href="#" class="icon-link text-link" title="Placeholder">
            <span>Placeholder</span>
        </a>
    </span>
</div> 