<div class="profile-container desktop-profile">
    <div>
        <div class="profile-content">
            <img src="{{ '/assets/images/profile.jpg' | relative_url }}" alt="Emran Poh" class="profile-image">
            <div class="profile-info" style="display: flex; align-items: flex-start;">
                <div class="profile-text" style="margin-top: 0; height: 100%; display: flex; flex-direction: column; justify-content: space-between;">
                    <div class="profile-name" style="line-height: 1; margin-bottom: 1rem;">emran poh</div>
                    <div>
                        <div class="profile-title" style="line-height: 1.2;">HAI Researcher + Designer</div>
                        <div class="profile-email" style="line-height: 1;">emranpoh [at] gmail [dot] com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include components/nav-buttons.html %}
</div> 