<section class="publications-section desktop-section">
  <section class="publications-list-section">
    <h2 class="section-title">Publications</h2>
    <div class="w-full mt-4 pubs-list">
      {% for pub in site.data.pubs %}
        {% assign author_list = pub.authors | split: ',' %}
        {% assign first_author = author_list[0] | strip %}
        {% if first_author contains 'Emran Poh' %}
        <div class="pub-item">
          <a href="{{ pub.url | relative_url }}" class="pub-image-link">
            <div class="pub-image">
              {% if pub.image %}
              <img src="{{ '/assets/images/projects/' | append: pub.image | relative_url }}" alt="{{ pub.title }}">
              {% else %}
              <div class="placeholder-image"></div>
              {% endif %}
            </div>
          </a>
          <a href="{{ pub.url | relative_url }}" class="pub-content">
            <div class="pub-header">
              <div class="pub-venue-tag">{{ pub.venue_short }} {{ pub.year }}</div>
              <div class="pub-title">{{ pub.title }}</div>
              <p class="pub-authors">
                {% assign author_list = pub.authors | split: ',' %}
                {% assign first_author = author_list[0] | strip %}
                {% if author_list.size > 1 %}
                  {{ first_author | split: ' ' | last }} et al.
                {% else %}
                  {{ first_author | split: ' ' | last }}
                {% endif %}
              </p>
            </div>
          </a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="view-all-publications">
      <a href="{{ '/publications' | relative_url }}" class="view-all-btn">View All Publications →</a>
    </div>
  </section>
</section> 